t-Test

In [1]:
# https://www.youtube.com/watch?v=4PgpiCvsuas
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import ttest_ind

In [2]:
df = pd.read_csv("StudentsPerformance.csv")

In [3]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [4]:
# Load the CSV file into a DataFrame
df = pd.read_csv('StudentsPerformance.csv')

In [5]:
# Separate data for male and female students
male_math_scores = df[df['gender'] == 'male']['math score']
female_math_scores = df[df['gender'] == 'female']['math score']

# Perform independent samples t-test
t_statistic, p_value = ttest_ind(male_math_scores, female_math_scores)

In [6]:
# Print the results
print("Independent Samples T-test for Math Scores:")
print(f"T-statistic: {t_statistic}")
print(f"P-value: {p_value}")

# Interpret the results
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: There is a significant difference in math scores between male and female students.")
else:
    print("Fail to reject the null hypothesis: There is no significant difference in math scores between male and female students.")

Independent Samples T-test for Math Scores:
T-statistic: 5.383245869828983
P-value: 9.120185549328822e-08
Reject the null hypothesis: There is a significant difference in math scores between male and female students.

In [7]:
# Separate data for male and female students
male_reading_scores = df[df['gender'] == 'male']['reading score']
female_reading_scores = df[df['gender'] == 'female']['reading score']
# Perform independent samples t-test
t_statistic, p_value = ttest_ind(male_reading_scores, male_reading_scores)

In [8]:
# Print the results
print("Independent Samples T-test for reading Scores:")
print(f"T-statistic: {t_statistic}")
print(f"P-value: {p_value}")

# Interpret the results
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: There is a significant difference in reading scores between male and female students.")
else:
    print("Fail to reject the null hypothesis: There is no significant difference in reading scores between male and female students.")

Independent Samples T-test for reading Scores:
T-statistic: 0.0
P-value: 1.0
Fail to reject the null hypothesis: There is no significant difference in reading scores between male and female students.

In [9]:
# Separate data for male and female students
male_writing_scores = df[df['gender'] == 'male']['writing score']
female_writing_scores = df[df['gender'] == 'female']['writing score']
# Perform independent samples t-test
t_statistic, p_value = ttest_ind(male_reading_scores, male_reading_scores)

In [10]:
# Print the results
print("Independent Samples T-test for reading Scores:")
print(f"T-statistic: {t_statistic}")
print(f"P-value: {p_value}")

# Interpret the results
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: There is a significant difference in writing scores between male and female students.")
else:
    print("Fail to reject the null hypothesis: There is no significant difference in writing scores between male and female students.")

Independent Samples T-test for reading Scores:
T-statistic: 0.0
P-value: 1.0
Fail to reject the null hypothesis: There is no significant difference in writing scores between male and female students.